/* Globals */
/* ========================= */

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;

    background-color: whitesmoke;
}

.myBreak {
    height: 200px;
    background-color: yellow;
}

/* Header */
/* ========================= */

#header {
    height: 60px;
    background-color: green;
}

/* Logo Area */
/* ========================= */

#logoArea {
    background-color: tomato;
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
}

/* Portfolio Area */
/* ========================= */

#portfolioArea {
    background-color: white;
    border: 60px solid black;
    height: 700px;
}

.portfolioShow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin-left: 8%;
    margin-top: 3.3%;
}

.portfolioSlide {
    width: 100%;
    height: 85%;
    overflow: hidden;
    display: block;
    background-size: cover;
    background-position: center;
}

.portfolioSlide p {
    font-size: 50px;
    position: absolute;
    bottom: 15%;
    font-family: 'Charm';
    right: 5%;
    width: fit-content;
    color: whitesmoke;
}

/* Skills Area */
/* ========================= */

#skillsArea {
    background-image: url(../images/tesla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}

/* Bio Area */
/* ========================= */

#bioArea {
    background-image: url(../images/flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}

/* Contact Area */
/* ========================= */

#contactArea {
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}